# Local development settings
ENVIRONMENT=development
COOKIE_DOMAIN=localhost
API_DOMAIN=localhost
FRONTEND_URL=http://localhost:3000
UPLOADS_DIR=

# PyAnnote
PYANNOTE_METRICS_ENABLED=0
HF_PYANNOTE_MODEL=pyannote/speaker-diarization-community-1
# Request for access to this model: https://huggingface.co/pyannote/speaker-diarization-community-1
# Generate a token in HuggingFace https://huggingface.co/settings/tokens with the permission to read gated repos and make calls to inference providers
HF_PYANNOTE_ACCESS_TOKEN=<your-hf-token>